@import "normalize"
@import "variable"
@import "form.sass"
@import "../../pages/PageNotFound/pageNotFound.sass"
@import "../../pages/Register/register.sass"
@import "../../pages/Login/login.sass"
@import "../../pages/Profile/profile.sass"
@import "../../module/input/input.sass"
@import "../../module/button/button.sass"
@import "../../module/chat/chat.sass"
@import "../../module/Avatar/avatar.sass"

body
    background: $main-background
    width: 100vw
    height: 100vh
    overflow: hidden
