block content
    case routes
        when "400"
            .not-found_container
            h1 The page you are looking at has not been found
                .not-found_error-block
                    p.not-found_code 4
                    img.not-found_image(src="../../assets/image/400.png", alt="image for number zero")
                    p.not-found_code 0
