- var routes = '400'
html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Chat  rooms!"
        link(rel="stylesheet", href="./assets/styled/index.sass")
    body
        include pages/Login/Login
        include pages/Register/Register
        include pages/PageNotFound/PageNotFound
